
IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName bicomalawi.org

php_value post_max_size 60M
php_value upload_max_filesize 60M
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
